<div id="noahs_overlay">
    <div class="noahs_cv-spinner">
        <span class="noahs_spinner"></span>
    </div>
</div>
<div class="noahs_page_builder-wrapper">
    <div
        id="noahs_page_builder"
        data-noahs_id="noahs_settings"
        data-langcode="no_language">
        <div class="builder-wrapper noahs-theme-content-wrapper">
            {{ widget | raw }}
        </div>
    </div>
</div>