 // Imports default variables and mixins.
@import "settings/variables";

// Header Styles
@import "header/base"; 

// Navigation Styles
@import "navigation/base"; 

// Layout Styles
@import "layout/base"; 
